extends layout
block content
  
  div.layerBg
    div.container
      aside(id='sidebarA')
        div
         a(href='/medSearch')
          img(class='img' src='images/medSearchPic2.jpg')
        div
          a(href='/medTracker')
           img(id='img' src='images/medTrackerPic2.jpg')
        div(id='container')  
          div(id='calendarHeader')    
            span(id='calendarMonthsYears')
          div(id='calendarDates')
        div(id='txt')
      main
        button.accordion Sunday
        div.panel
          input(type='text' size='20' class='')
          span.alarmBttn
            button.spacer1 A.M.
            br
            button P.M.
        button.accordion Monday
        div.panel
          input(type='text' size='20' class='')
          span.alarmBttn
            button.spacer1 A.M.
            br
            button P.M.
        button.accordion Tuesday
        div.panel
          input(type='text' size='20' class='')
          span.alarmBttn
            button.spacer1 A.M.
            br
            button P.M.
        button.accordion Wednesday
        div.panel
          input(type='text' size='20' class='')
          span.alarmBttn
            button.spacer1 A.M.
            br
            button P.M.
        button.accordion Thursday
        div.panel
          input(type='text' size='20' class='')
          span.alarmBttn
            button.spacer1 A.M.
            br
            button P.M.
        button.accordion Friday
        div.panel
          input(type='text' size='20' class='')
          span.alarmBttn
            button.spacer1 A.M.
            br
            button P.M.
        button.accordion Saturday
        div.panel
          input(type='text' size='20' class='')
          span.alarmBttn
            button.spacer1 A.M.
            br
            button P.M.
      a(href='/')
        button L O G O U T
