extends layout
block content
  
  div.layerBg
    div.container
      aside(id='sidebarA')
        div(id='container')
          div(id='calendarHeader')
            span(id='calendarMonthsYears')
          div(id='calendarDates')
        div(id='txt')
      main
        button.accordion Sunday
        div.panel
          input(type='text' size='20' id='')
          span.alarmBttn
            button.spacer1 A.M.
            br
            button P.M.
        button.accordion Monday
        div.panel
          input(type='text' size='20' id='')
          span.alarmBttn
            button.spacer1 A.M.
            br
            button P.M.
        button.accordion Tuesday
        div.panel
          input(type='text' size='20' id='')
          span.alarmBttn
            button.spacer1 A.M.
            br
            button P.M.
            
