extends layout
block content

  div.layerBg 
    div.container
      div.page-header
        div.jumbotron
          div.jumbotron.text-center
            div.center1
              h1 MeDScD
                dic(id='entity')
                  sup
                    &trade;
            div.center2
              img(src="images/slotSnip1.jpg")
            div.center3
              h2 P A S S W O R D
              input(type='password' placeholder='Password' size='20' id='wordTest' autofocus)
              br
              a(href='/appPage')
                button( onclick='pswFunction();' ) SUBMIT
            
