doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
div.bckHsla
  body(style="background-image: url('images/bckgrndPic1.jpg');background-repeat:no-repeat;background-size:cover;")
    block content
