doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/appPage.css')
    link(rel='stylesheet', href='/stylesheets/medSearch.css')
    link(rel='stylesheet', href='/stylesheets/medTracker.css')
    link(href="https://fonts.googleapis.com/css?family=Molle:400i|Permanent+Marker|Ewert|Aref+Ruqaa" rel="stylesheet")
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    script(src='javascripts/appJava.js')
    script(src='javascripts/accordion.js' async)
    
div.bckHsla
  body(style="background-image: url('images/bckgrndPic1.jpg');background-repeat:no-repeat;background-size:cover;"
        onload="startTime();")
        
    block content
