extends layout
block content

  div.layerBg
    div.container
      header
        form
          input(type='text' class='medSearch' name='search' placeholder='Medication Search..' autocomplete='off')
      div.search
        h2 Test
        br
        p.search1 
          |Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
          |Phasellus mi massa, lacinia vel ornare et, maximus et felis. 
          |Nulla malesuada arcu mollis, tincidunt dui at, faucibus diam. 
          |Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. 
          |Curabitur hendrerit nunc maximus enim scelerisque vulputate vel in ex. 
          |In iaculis at sem vitae ullamcorper. Maecenas a feugiat felis. 
          |Pellentesque mattis, ex sit amet consectetur convallis, felis metus convallis augue, ac pulvinar risus lectus at mi. 
          |Mauris accumsan purus at metus ultricies, quis tempus justo pretium. 
          |Cras pretium mauris vitae urna semper, quis vehicula tortor bibendum. Nam vel dolor vel ante facilisis dictum a quis sem. 
          |Morbi volutpat metus leo, sit amet placerat risus elementum quis.
        div(style='height:25px;')
        h2 Test
        br
        p.search1
          |Proin tincidunt, tellus vitae malesuada eleifend, magna dui convallis sapien, 
          |sed hendrerit lorem turpis quis quam. Maecenas feugiat sagittis urna, et mattis lectus tincidunt at. 
          |Nam at mi a quam venenatis eleifend. Duis viverra felis at tempus scelerisque. 
          |Cras aliquet ante sit amet consectetur condimentum. Aliquam pulvinar velit at iaculis ultrices. 
          |Pellentesque maximus elit turpis. Sed a felis vehicula, sollicitudin nisi et, accumsan elit. 
          |Duis id lacus imperdiet, congue augue quis, ullamcorper lorem. Morbi tincidunt, purus quis pharetra vestibulum, ligula est accumsan urna, 
          |consectetur tempor metus justo vitae dolor. Donec ultrices vitae erat non vehicula.
      a(href='/appPage')
        button Back To appPage
      div.extend
        
        
        
