extends layout
block content

  div.layerBg
    div.container
      header
        form
          input(type='text' class='medSearch' name='search' placeholder='Medication Search..' autocomplete='off')
      div.search
        h2 Toprol
        br
        h3 Use
        p.search1 
          |This medication is a beta-blocker used to treat chest pain angina, heart failure, 
          |and high blood pressure. Lowering high blood pressure helps prevent strokes, heart attacks, 
          |and kidney problems.
          |This drug works by blocking the action of certain natural chemicals in your body such as epinephrine 
          |that affect the heart and blood vessels. This lowers heart rate, blood pressure, and strain on the heart.
        h3 Side Effects
        p.search1
          |Drowsiness, dizziness, tiredness, diarrhea, and slow heartbeat may occur. 
          |Decreased sexual ability has been reported rarely. If any of these effects persist or worsen, 
          |tell your doctor or pharmacist promptly.
          |To reduce the risk of dizziness and lightheadedness, get up slowly when rising from a 
          |sitting or lying position.
        div(style='height:25px;')
        h2 Hydrocodone
        br
        h3 Use
        p.search1
          |Hydrocodone is an opioid pain medication. An opioid is sometimes called a narcotic.
          |Zohydro ER and Hysingla ER are extended-release forms of hydrocodone that are used for 
          |around-the-clock treatment of severe pain. Extended-release hydrocodone is not for use 
          |on an as-needed basis for pain.
        h3 Side Effects
        p.search1
          |Bloating or swelling of the face, arms, hands, lower legs, or feet body aches or pain chills
          |,cough ,depression difficult or labored breathing ,ear congestion ,fear or nervousness ,fever
          |headache ,loss of voice ,nasal congestion ,rapid weight gain ,runny nose sneezing or sore throat
          |,tightness in the chest ,tingling of the hands or feet ,unusual tiredness or weakness 
          |,unusual weight gain or loss
      a(href='/appPage')
        button Back To appPage
      div.extend
        
        
        
