extends layout
block content

  div.layerBg
    div.container
      header
        h1 MedTkR
        table
          thead
            tr
              th(colspan='2') Medication Type 
              th Re-Fill Month
              th Set
          tbody
            tr
              td(colspan='2')
                input(type='text' placeholder='Medication' size='20' id='')
              td.rBorder
                select(name='months')
                  option January
                  option Febuary
                  option March
                  option April
                  option May
                  option June
                  option July
                  option August
                  option September
                  option October
                  option November
                  option December
              td
                input(type='checkbox' id='' style='margin-left:5px;')
          tbody
            tr
              td(colspan='2')
                input(type='text' placeholder='Medication' size='20' id='')
              td.rBorder
                select(name='months')
                  option January
                  option Febuary
                  option March
                  option April
                  option May
                  option June
                  option July
                  option August
                  option September
                  option October
                  option November
                  option December
              td
                input(type='checkbox' id='' style='margin-left:5px;')
          tbody
            tr
              td(colspan='2')
                input(type='text' placeholder='Medication' size='20' id='')
              td.rBorder
                select(name='months')
                  option January
                  option Febuary
                  option March
                  option April
                  option May
                  option June
                  option July
                  option August
                  option September
                  option October
                  option November
                  option December
              td
                input(type='checkbox' id='' style='margin-left:5px;')
      a(href='/appPage')
        button Return To AppPage
      div.extend
          
