*{margin:0; padding:0;} /* Reset */

.bckHsla{
  background-color: hsla(167, 99%, 42%, .6);
}
#entity{font-size: 50%;} /* Trade mark entity */

input{padding: 3px;}

button{
	margin-top: 10px !important;
	padding: 5px;
	font-size: 1.5em;
}
.center1{ /* #center1: Logo */
  font-family: 'Molle', cursive;
	display: block;
	margin-bottom: 50px;
	}
.center1 h1{
	font-size: 600% !important;
	color: #ff9999 !important;
	text-shadow: 3px 3px 0 black;
	}
.center2{ /* #center2: SlotMachine Game */
	margin-bottom: 80px;
	}
.center2 img{
	max-width: 300px;
	max-height: 300px;
	width: 100%;
	border: 2px solid white;
	border-radius: 50px 50px 50px 50px;
	box-shadow: 0 0 10px black;
	}
  .center3 h2{
    font-family: 'Aref Ruqaa', serif;
  }
.layerBg{
	background: linear-gradient(to bottom, rgba(200,0,0,0), rgba(200,0,0,1));
	background: -moz-linear-gradient(bottom, rgba(200,0,0,0), rgba(200,0,0,1)); /* FireFox */
	}
.extend{
  height: 425px;
}
.jumbotron{
	background-color: hsla(167, 99%, 42%, .0) !important;
}
/* Save for Calendar Repiar */
.today{
	background: blue;
	color: red;
}
